@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

* ,*::before ,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html ,body {
    scroll-behavior: smooth;
}

a {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 60px;
    font-weight: normal;
    color: #363636;
}

h2 {
    font-size: 40px;
    font-weight: normal;
    color: #363636;
}

h3 {
    font-size: 30px;
    font-weight: normal;
    color: #363636;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #626262;
}
/* Hjälpklasser */

.slab {
    font-family: 'Roboto Slab', serif;
}

.d-flex {
display: flex;
}

.container {

    margin-left: 10%;
    margin-right: 10%;  
}

.topmenu .container {
    width: 100%;
    display: flex;
    align-content: center;
}

/* TOP MENU */

.topmenu {
     border-bottom: 1px solid #70707050;
     width: 100%;
     justify-content: space-between;
     padding-top: 1rem;
     padding-bottom: 1rem;    
     
     /* padding: 1rem;   */
     /* justify-content: space-between; */
}

.hours {
    /* width: 50%; */
    color: #626262;
    align-self: flex-start;
}

.social {
   /* width: 50%; */
   text-align: end;   
   align-self: flex-end;
   margin-left: 61.5%;
   
}

.social a {    
    color: #2BAAEC;
    border: none;
    padding: 1rem; 
}

.social a:hover {
    color: #25E6C8;
}

/* MAIN MENU */

.mainmenu {
    margin: 2rem 10% 2rem;
    display: flex;
    flex-direction: row;

}

.logo {
    width: 50%;
}


.navbar {
    width: 50%;
    text-align: end;
    margin-top: 2rem;
   

}

.navbar a {

    text-decoration: none;
    color: #363636;
    font-family: 'Robot slab' serif;
    font-size: 1.3rem;
    padding: 1rem;
    
}

.navbar a:hover {

    color: #919191;

}


/* SHOWCASE */

.showcase-body {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.scfigure {
    margin-bottom: 0;
    margin-top: 1rem;
    margin-left: 10%;
    border: none;
    width: 50%;
}

.flavor {
    width: 60%;        
    }

.btn{
    border: none;
    background-color: #25E6C8;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 1rem 3.5rem 1rem;
    border-radius: 10%;
    font-size: 1rem;

}

.btn:hover {

background-color: #2BAAEC;

}

.btn-about {
    margin-top: 0.5rem;
}

#showcase {
    border: none;
    width: 100%;
    /* background: #dedede;     */
    background-size: cover;  
    height: 74.2vh;
  
}

#showcase .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #dedede;
    width: 100%;
    
   
}
/* 
#showcase .container .scfigure svg {
    object-fit: cover;
} */



/* ABOUT US */

#about {
    display: flex;
    padding-top: 6rem;
}

#about .container {
    /* margin-top: 2rem; */
    width: 50%;
}

#about .container .text {
    
    margin-top: 5rem;
    
}

#about .container .text h2 span {
    color: #2BAAEC;
}

.about-header h2 {
    margin-bottom: 1rem;
  
}

.about-header {
    border-bottom: 3px solid #25E6C8 ;
}

.about-body {
    margin-top: 3rem;
}

.figure {
    margin-left: 10%;
}

.about-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.about-stats h2 {
    color: #2BAAEC;    
}

/* OUR SERVICES */

#services {
    background-color: #F7F7F7;
    padding-bottom: 10rem;
    padding-top: 5rem;
    
}


#services #services-header {
    justify-content: center;
    margin-top: 5rem;
 
}

#services #services-header h2 {
    border-bottom: 3px solid #25E6C8;  
    padding-bottom: 1rem;
    padding-left: 5.5rem;
    padding-right: 5.5rem;    
}

#services .container {
    width: 80%;
    margin: 3rem auto 0;
    display: flex;
    justify-content: space-evenly;
}

.card {    
    border-radius: 10px;   
    width: 450px;
    height: 436px;
    cursor: pointer;
    background-color: white;
    transition: box-shadow 100ms ease-in-out;
}

.card-header {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
}

.card-logo {
    width: 100px;
    height: 100px;
    /* padding: 20px; */
    background-color: #25E6C8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: outline 200ms ease-in-out, background 200ms ease-out;
}

.card-body {

    text-align: center;
}

.card-body h3 {
    font-size: 22px;
    font-family: 'Roboto Slab';
}
.card-body p {
    margin-top: 2rem;
    font-size: 18px;
}

.card:hover {
    box-shadow: 2px 2px 1rem #3333335d, 0 0 3rem #33333378;

}

.card:hover .card-header .card-logo {
    background-color: #2BAAEC;
    outline: 8px solid #2ba8ec62;
   
}


#appointment {
    background-color: #2ba8ece1;


}

#appointment h3 {
    color: #fff;
    font-family: 'Roboto Slab';
    font-weight: normal;
}

#appointment .container {
    justify-content: space-between;   
    align-items: center; 
    display: flex;
    padding: 4rem;
    
}

.btn-appoint {  
    border-radius: 10px;
    color: #2BAAEC;
    background-color: #fff;
    font-weight: bold;
    border: 2px solid #fff;
  
}

.btn-appoint:hover {
    color: #fff;
    background-color: #2BAAEC;
    border: 2px solid #fff;
   
}
  

#footer {
    background-color: #2BAAEC;
}

#footer p {
    color: #F3FBFF;
    opacity: 60%;
    font-size: 16px;
}

.footer-text {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media Queries */

@media (max-width: 576px) { 
/* .scfigure {
    display: none;
}
.figure {
    display: none;
} */
.topmenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hours {
    margin: auto;
    width: 100%;
    /* padding: 10rem; */
}

.social {
 
 

}
}
 
@media (max-width: 768px) { 

/*  */
} 
 
@media (max-width: 992px) { 
/*  */

}
